<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="WireMockTestSuite">
    <test name="WiremockTests">
        <classes>
            <class name="org.example.test.WiremockTest" />
        </classes>
    </test>
    <test name="DockerizedWiremockTests">
        <classes>
            <class name="org.example.test.DockerizedWiremockTest" />
        </classes>
    </test>
</suite>